*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    line-height: 1.6em;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: lightgreen;
    z-index: 100;
 

}

a{
    text-decoration: none;
    color: black;
}

nav{
   
    position: relative;
    background-color: lightgreen;
    
   
}
nav ul{
    float: right;
    margin-right: 20px;
    position: absolute;
    margin-left: 300px;
    
}
nav ul li{
    display: inline-block;
    line-height: 80px ;
    margin: 0 5px;
}
nav ul li a{
    color:black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
.active,a:hover{
    color: black;
    border-bottom: 1px solid rgb(134, 50, 50);
}
.text{
    margin-left: 124px;
    margin-right: 80px;
}
.wd3-1{
    margin-left: 109px;
    margin-right: 109px;
     background-color: lightgreen;
}

.mySlides img {
    vertical-align: middle;
    width: 100%;
    height:500px;
    object-fit:contain;
    /* size: 300 px, 300px; */
  
  }
  .row img {
    vertical-align: middle;
    width: 100%;
    height: 120px;
    padding: 2px;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 0px;
  
  }
  
  /* Hide the images by default */
  .mySlides {
     
    display: none;
    padding-top: 5px;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
    }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    margin-left: 260px;
    margin-right: 260px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: white;
    opacity: 0.7;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 280px;
    position: absolute;
    top: 10px;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 15px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display:table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  } 
  @media only screen and (max-width:1000px){
      .prev,
  .next {
    margin-top: -50px;
    margin-left: 5px;
    margin-right: 5px;
  }
   .container{
    margin-top: 20px;
    margin-bottom: 0px;
    }  
   .row img{
    height: 100px;
   }
   .numbertext{
    top: 105px;
    color: white;
    font-size: 16px;
   }
  }
  
     
    @media only screen and (max-width:768px) {
  .prev,
  .next {
    margin-top: -50px;
    margin-left:5px;
    margin-right:5px;
    }
  .container{
    margin-top: 20px;
    margin-bottom: 0px;
   } 
   .row img{
    height: 100px;
   }
   .numbertext{
    top: 105px;
    color: white;
    font-size: 16px;
   }
}
.explore-section {
    padding: 5rem 0;
    background-color:rgb(240, 240, 240);
}

.section-title {
    font-size: 3rem;
    color: #030303;
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 50px;
}

.section-para {
    max-width: 50rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    font-size: x-large;
    color: #000000;
    text-align: center;
    
}

.tours-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.tour-card {
    width: 30%;
    background-color: #dfedfa;
    margin-bottom: 2rem;
    transition: transform 0.3s ease;
    border-radius: 5px;
  
}

.tour-card:hover {
    transform: translateY(-5px);
  
}

.tour-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;

}

.tour-body {
    padding: 1rem;
}

.tour-name {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
    
}

.tour-action {
    display: inline-block;
    background-color: #0d271e;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    cursor: pointer;  

}
.container1 h2{
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    margin-top: 40px;
    text-shadow: 1px 1px yellowgreen ;
}
.container1 h3{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
    text-shadow: 1px 1px yellowgreen ;
}
.container1 p{
    font-size: 22px;
    font-weight: bold;
    text-align: justify;
    margin: 20px;
    text-shadow: 1px 1px yellowgreen ;
}
.box{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    padding-bottom: 10px;
    text-shadow: 1px 1px yellowgreen ;
}
.container1{
  background: linear-gradient(to bottom,white, limegreen);
  float: left;
  display: block;
  width: 47.5%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 22px;
  margin-right: 10px;
  border-width: 5px;
  border-radius: 5px;
  border-color: rgb(20, 20, 59);
  padding: 20px;
}
.text p{
    text-align: center;
}

footer {
    background-color: lightgreen;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .footer-content a {
    color: #fff;
    text-decoration: none;
  }